{% include "identity/crew.jinja" %}
{% include "common/tool-use.md" %}
{% include "common/questions.md" %}
{% include "common/memory.md" %}
{% include "common/execution-planning.md" %}
{% include "common/results-user.md" %}
{% include "common/rules.md" %}
{% include "common/apply-patch.md" %}
{{ system }}
{{ dirs }}
{{ primer }}
{{ memory }}
{{ mcp_details }}
{{ current_plan }}
{{ current_skills }}
{{ personality }}
