target/
**/target/
.DS_Store

.env
.pnpm-store

node_modules
.DS_Store
dist
*.local
count.txt
.idea
.env
.tanstack
.debug
.secrets.act
npm/darwin-arm64/blprnt
npm/linux-x64/blprnt
npm/win32-x64/blprnt.exe
