{% include "common/tool-use.md" %}

{% include "common/results-llm.md" %}

{% include "common/rules.md" %}

{% include "common/apply-patch.md" %}

{{ mcp_details }}

{{ system }}
{{ dirs }}
{{ primer }}

{{ current_plan }}

{{ current_skills }}
