/* Utilities */
@layer utilities {
  .rainbow,
  .rainbow-parent:hover .rainbow-child {
    animation: rainbow 1000ms linear infinite;
    background: linear-gradient(
      90deg,
      var(--success),
      var(--info),
      var(--warn),
      var(--success),
      var(--info),
      var(--warn),
      var(--success)
    );
    background-size: 200% 100%;
    background-position: 0% 50%;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .blink-fade {
    animation: blink-fade 750ms infinite alternate;
    transition-property: opacity;
  }
  .blink-fade-1 {
    animation-duration: 750ms;
  }
  .blink-fade-2 {
    animation-duration: 740ms;
  }
  .blink-fade-3 {
    animation-duration: 730ms;
  }
  .blink-fade-4 {
    animation-duration: 720ms;
  }
  .blink-fade-5 {
    animation-duration: 710ms;
  }
  .blink-fade-6 {
    animation-duration: 700ms;
  }
  .blink-fade-7 {
    animation-duration: 690ms;
  }
  .blink-fade-8 {
    animation-duration: 680ms;
  }

  @property --x {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%;
  }

  .text-sweep {
    --base: var(--primary);
    --mid: color-mix(in oklch, var(--base) 60%, gray 40%);
    --side: color-mix(in oklch, var(--base) 20%, gray 80%);
    --core: 0.5ch;
    --inner: 1ch;
    --outer: 1ch;
    --duration: 2s;

    display: inline-block;
    background: linear-gradient(
      90deg,
      var(--side) 0,
      var(--side) calc(var(--x) - var(--outer)),
      var(--mid) calc(var(--x) - var(--inner)),
      var(--base) calc(var(--x) - var(--core)),
      var(--base) calc(var(--x) + var(--core)),
      var(--mid) calc(var(--x) + var(--inner)),
      var(--side) calc(var(--x) + var(--outer)),
      var(--side) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: sweep var(--duration) ease-in infinite alternate;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes sweep {
  0% {
    --x: -20%;
  }
  95%,
  100% {
    --x: 100%;
  }
}
