/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto.ttf") format("truetype-variations");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-italic.ttf") format("truetype-variations");
  font-style: italic;
}

/* Roboto Mono */
@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/roboto-mono.ttf") format("truetype-variations");
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/roboto-mono-italic.ttf") format("truetype-variations");
  font-style: italic;
}

@font-face {
  font-family: "Tasa";
  src: url("/fonts/tasa.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Lilex";
  src: url("/fonts/lilex.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat.ttf") format("truetype-variations");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-italic.ttf") format("truetype-variations");
  font-style: italic;
}
